@font-face {
    font-family: 'Be Vietnam';
    src: url('https://raw.githubusercontent.com/sprouvy/Fonts/Utama/Webfont/Be%20Vietnam/BeVietnam-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('https://raw.githubusercontent.com/sprouvy/Fonts/Utama/Webfont/Be%20Vietnam/BeVietnam-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('https://raw.githubusercontent.com/sprouvy/Fonts/Utama/Webfont/Be%20Vietnam/BeVietnam-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('https://raw.githubusercontent.com/sprouvy/Fonts/Utama/Webfont/Be%20Vietnam/BeVietnam-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('https://raw.githubusercontent.com/sprouvy/Fonts/Utama/Webfont/Be%20Vietnam/BeVietnam-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('https://raw.githubusercontent.com/sprouvy/Fonts/Utama/Webfont/Be%20Vietnam/BeVietnam-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('https://raw.githubusercontent.com/sprouvy/Fonts/Utama/Webfont/Be%20Vietnam/BeVietnam-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('https://raw.githubusercontent.com/sprouvy/Fonts/Utama/Webfont/Be%20Vietnam/BeVietnam-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('https://raw.githubusercontent.com/sprouvy/Fonts/Utama/Webfont/Be%20Vietnam/BeVietnam-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('https://raw.githubusercontent.com/sprouvy/Fonts/Utama/Webfont/Be%20Vietnam/BeVietnam-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('https://raw.githubusercontent.com/sprouvy/Fonts/Utama/Webfont/Be%20Vietnam/BeVietnam-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('https://raw.githubusercontent.com/sprouvy/Fonts/Utama/Webfont/Be%20Vietnam/BeVietnam-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('https://raw.githubusercontent.com/sprouvy/Fonts/Utama/Webfont/Be%20Vietnam/BeVietnam-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url('https://raw.githubusercontent.com/sprouvy/Fonts/Utama/Webfont/Be%20Vietnam/BeVietnam-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
